body {
background-color: #F7EAC8;
}

h1 {
  font-size: 40pt;
  font-weight: bold;
}

h2 {
  font-size: 30pt;
  font-weight: bold;
}

h3 {
  font-size: 20pt;
  font-weight: bold;
}

.header {
  text-align: center;
  padding: 200px;
  background-color: #E8B71A;
  color: white;
}

input {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 15pt;
}

select {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15pt;
  color: grey;
}
label {
  display: block;
}

.contactForm {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
  

}

#form {
  background-color: #1FDA9A;
  padding: 70px;
}

.container {

}

.addButton {
    background-color: #28ABE3; /* Green */
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
}

.deleteButton {
  background-color: #DB3340; /* Green */
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 16px;
}

.body {
  width: 100%
}

.column {
  width: 33.33%;
  float: left;

}

.contactHeader {
  text-align: center;
  border-bottom: black 1px;
  border-style: dotted;
  background-color: white;
}

.contactBody {
  text-align: center;
  background-color: white;
}
.contactFooter {
  text-align: center;
}


.row {
  display: block;
}

.contactWrapper {
  border: 1px;
  color: black;
  border-style: solid;
  margin: 4px;
}
